.app{  
    background-image: url('../src//assets/images/Rectangle 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-size:cover;
    
    height:100vh;
    position: relative;
  }
  
  .overlay{
    position:absolute;
    background: rgba(9, 1, 20, 0.6);
  
  width:100vw;
  height:100vh;
  
  
  }